## TODO: add a template here of expected configuration.
[Bot]
#Name of the bot
name = 
#Description of the bot
description = 
#Comand prefix
prefix = 
#Discord token to link the actual bot to the discord bot User (production)
token_prod = 
#Discord token to link the actual bot to the discord bot User (development)
token_dev = 

[Database]
host = 
user = 
password = 
database = 
